* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background: #FFF9DF;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: 0.2rem;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2F2B1C;
}
img {
  width: 100%;
  display: block;
}
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #F0FCDD;
  border: 2px solid #221b0f;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: all 1 linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 1px;
  display: inline-block;
}
.btn:hover {
  background: #d1b688;
  color: white;
}
.btn-white {
  background: transparent;
  color: rgb(240, 239, 219);
  border-color: white;
}
.btn-white:hover {
  background: white;
  color: darkslategray;
}
.btn-primary {
  background: rgb(150, 112, 112);
  color: white;
  border-color: transparent;
}
.btn-primary:hover {
  background: whitesmoke;
  color: rgb(37, 18, 18);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgb(44, 43, 31);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: #cbeec4;
  border-color: #282b24;
}
.navbar {
  background: #ebf8a0;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(215, 255, 139, 0.5);
  box-shadow: rgb(34, 43, 31);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  max-width: 1160px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.3 linear;
}
.nav-links a:hover {
  color: rgb(44, 33, 33);
}
.logo {
  width: 12rem;
}
.about-section {
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-center {
  width: 1170px;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
.cocktail {
  background: rgb(240, 238, 215);
  margin-bottom: 2rem;
  box-shadow: 2px 2px black;
  transition: all 0.2 linear;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 10px;
}
.cocktail:hover {
  box-shadow: 2px 2px 4px lightgray;
}
.cocktail img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.cocktail-footer {
  padding: 1.5rem;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}
.cocktail-footer h3 {
  font-size: 2rem;
}
.cocktail-footer p {
  color: darkgrey;
  margin-bottom: 0.5rem;
}
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: 500px;
  margin: 0 auto;
  max-width: 500px;
  background: rgb(188, 217, 223);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: rgb(54, 54, 54);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: rgb(243, 243, 243);
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.cocktail-section {
  text-align: center;
}
.drink {
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: 2px;
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: #c8dfa5;
  padding: 0.25rem 0.5rem;
  border-radius: 1px;
  color: rgb(20, 41, 21);
}
.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
